# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/
ENV/

# IDE / Editor
.vs/
*.sln
*.pyproj
.vscode/
.idea/

# Environment files
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Logs and DB
*.log
*.sqlite3

# Docker (если нужно)
docker-compose.override.yml
